@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    /* background-color: #CFFF00; */
    border-color:#afd601 ;
    border-width: 1px;
    border-style: solid;
    background-color: ;
}