.main {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  /* background-color: blue; */
  margin-bottom: 10px;
}

.gallery{
  width: 100%;
}
@media (max-width: 768px) { 
  .main {
    height: 150vh;
    padding: 20px; 
  }
}